In [32]:
#import required library 
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [33]:
# read the dataset 
df = pd.read_csv(r"C:\Users\saket\OneDrive\Desktop\ML\Datasets\Salary_Data.csv")
df.head()

   YearsExperience  Salary
0              1.1   39343
1              1.3   46205
2              1.5   37731
3              2.0   43525
4              2.2   39891

In [34]:
df.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [35]:
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [36]:
X=df.drop('Salary',axis=1)
y=df.Salary

In [38]:
X.head(10)

   YearsExperience
0              1.1
1              1.3
2              1.5
3              2.0
4              2.2
5              2.9
6              3.0
7              3.2
8              3.2
9              3.7

In [39]:
y.head(10)

0    39343
1    46205
2    37731
3    43525
4    39891
5    56642
6    60150
7    54445
8    64445
9    57189
Name: Salary, dtype: int64

In [40]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=0,test_size=0.30)

In [41]:
from sklearn.linear_model import LinearRegression

LR=LinearRegression()
LR.fit(X_train,y_train)

LinearRegression()

In [42]:
y_pred=LR.predict(X_test)
y_pred

array([ 40817.78327049, 123188.08258899,  65154.46261459,  63282.41035735,
       115699.87356004, 108211.66453108, 116635.89968866,  64218.43648597,
        76386.77615802])